/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	width: 100%;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	line-height: 1.2rem;
	height: 100vh;
	overflow-x: hidden;
}

h1 {
	color: #fff;
	font-size: 2.5rem;
	line-height: 3.5rem;
	text-align: center;
	text-shadow: 2px 2px 0 #333;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 64px;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

/* Start Navbar Styles*/
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #383e4c;
	width: 100%;
	min-height: 50px;
	z-index: 1;
}

.nav-links {
	display: flex;
	justify-content: center;
}

.nav-links li {
	padding: 15px;
}

.nav-links a {
	display: block;
	font-size: 20px;
	padding: 15px 25px;
	color: #fff;
	background: #383e4c;
	text-decoration: none;
	text-align: center;
	border: 1px solid #646d7c;
}

ul li.active a,
ul li a:focus,
ul li a:hover,
.navbar-toggle:hover {
	background: #49505f;
}

.burger {
	display: none;
}

.navbar-toggle {
	background: #333;
	position: relative;
	float: right;
	padding: 5px 7px 9px 7px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 8px 20px 8px;
	cursor: pointer;
	outline: none;
	z-index: 10;
}

.icon-bar {
	display: block;
	width: 22px;
	height: 1px;
	border-radius: 1px;
	background-color: #f1f1f1;
	margin-top: 4px;
	padding: 1px 5px;
	transition: all 0.3s ease;
}
/* End Navbar Styles */

/* Start Homepage Styles*/
#homepage {
	background-image: url('/img/mtfuji.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	text-align: center;
	padding: 235px 0;
	z-index: -2;
}

#homepage h1 {
	font-size: 5rem;
	line-height: 6rem;
	text-transform: uppercase;
	font-weight: lighter;
}

#homepage h4 {
	color: #fff;
	font-size: 1.7rem;
	line-height: 2.5rem;
	text-align: center;
	text-shadow: 1px 1px 0 #333;
}
/* End Homepage Styles */

/* Start About Section Styles */
#about-section {
	padding-top: 70px;
}

#about-section .container {
	display: flex;
	justify-content: space-between;
}

.about-content {
	max-width: 30%;
	background: #f2f2f2;
	margin: 0 15px;
	padding-bottom: 40px;
	overflow: hidden;
	text-align: center;
}

.about-content a {
	text-decoration: none;
	color: #337ab7;
}

.about-title {
	padding: 15px 10px 0;
	text-align: left;
}

.about-description {
	font-size: 14px;
	color: #333;
	text-align: left;
	padding: 5px 10px 30px;
	margin-top: 15px;
}

.about-button {
	font-size: 1.1rem;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.about-button:hover,
.about-button:link,
.about-button:visited {
	color: white;
	text-decoration: none;
}

.green-title {
	color: #178a27;
}

.blue-title {
	color: #1686c1;
}

.gray-title {
	color: #777;
}

.green-btn {
	background: #178a27;
}

.green-btn:hover {
	background: #449d44;
}

.blue-btn {
	background: #1686c1;
}

.blue-btn:hover {
	background: #31b0d5;
}

.red-btn {
	background: #852406;
}

.red-btn:hover {
	background: #c9302c;
}

/* End About Section Styles */

/* Start Blog Section Styles */
#blog-section .container {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 60px;
}

.blog-content {
	display: inline-block;
	background: #f2f2f2;
	margin: 0 15px;
	padding-bottom: 40px;
	max-width: 555px;
}

.blog-content h2 {
	color: #888;
	padding-top: 15px;
}

.blog-content p {
	color: #333;
	padding: 25px;
	font-size: 14px;
}

.blog-content span {
	float: right;
	margin-right: 5rem;
}

.blog-content span a {
	background: #fff;
	color: #777;
	font-size: 1.1rem;
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px 30px;
}

.blog-content span a:hover {
	background: #e6e6e6;
}

/* End Blog Section Styles */

/* Start Services Section Styles */
#services-section {
	background-image: url(../img/mountain.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 350px;
	padding: 65px 0px 85px;
}

#services-section h1 {
	font-size: 2.2rem;
	margin-bottom: 20px;
	color: #fff;
	float: left;
	width: 100%;
	height: 100%;
	text-shadow: 2px 2px #888;
}

#services-section p {
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
}

/* End Services Section Styles */

/* Contact Section */
#contact-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	background-image: url('');
}

#contact-section .container {
}

#contact-section h1 {
	width: 100%;
}

form {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.form-left,
.form-right {
	display: flex;
	flex-direction: column;
	width: 350px;
}

.form-left {
	margin-right: 10px;
}

.form-right {
	margin-left: 10px;
}

#contact-section button {
	text-align: center;
	background-color: #262628;
	color: #fff;
	width: 150px;
	padding: 10px 20px;
	margin-left: 10px;
}

#contact-section button:hover {
	background-color: #e6e6e6;
	color: #262628;
}

/* Start Footer Styles */
#footer-section {
	text-align: center;
}

.footer-content h1 {
	color: #aaa;
	font-size: 2rem;
	font-style: italic;
	margin-top: 35px;
	margin-bottom: 25px;
}

.footer-content p {
	color: #888;
	font-style: italic;
	margin-bottom: 25px;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 25px 0;
}

.footer-copyright {
	color: #333;
	font-size: 12px;
	margin-bottom: 25px;
}
/* End Footer Styles */
